{% extends "base.html" %}
{% block title %}SWAGnalysis{% endblock %}
{% block content %}


<section class="features13 cid-s6SjlvIagD" id="features13-8">
    <h2>CP chat</h2>
    <h3>Select the file you want to extract:  </h3>
    <p>NOTE: File should come from <a href="https://mixpanel.com/s/2NSqfD" target="_blank">HERE</a>.</p>
    <form method="post" action={{ url_for('CPchat_alert') }} enctype="multipart/form-data">
        <p><input type="file" name="input_file" /></p>
        <p><input type="submit" value="Process the file" /></p>
        <p><a href="/">Back</a></p>
    </form>
</section>
{% endblock %}