<!DOCTYPE html>
<html lang="en">
<body>
    <h2>長片七日內銷售</h2>
        <p>NOTE: File should come from <a href="https://mixpanel.com/s/XKjbb" target="_blank">HERE</a>.
        Click the Download CSV on Mixpanel web page
            <img src="/img/download_csv.png" alt="download_csv image" width="500" height="600">
        </p>
        <h3>Select the file you want to extract:  </h3>
    <form method="post" action={{ url_for('seven') }} enctype="multipart/form-data">
        <p><input type="file" name="input_file" /></p>
        <p><input type="submit" value="Process the file" /></p>
        <p><a href="/">Back</a></p>
    </form>
</body>
</html>