{% extends "base.html" %}
{% block title %}SWAGnalysis{% endblock %}
{% block content %}
<section class="engine"><a href="https://mobirise.info/v">free html templates</a></section><section class="features13 cid-s6SjlvIagD" id="features13-8">
    <h2>長片七日內銷售</h2>
        <p><a href="https://mixpanel.com/s/XKjbb" target="_blank">File Source</a> 
        Click the Download CSV on Mixpanel web page<br><br>
        As following: <br>
        Select the date range:<br>
        <img src="https://i.imgur.com/zCQi7Hx.png" alt="select date image" width=30% height="30%"><br><br>
        Download csv on mixpanel: <br>
        <img src="https://i.imgur.com/WPRNyJ2.png" alt="download csv image" width=15% height="15%"><br>
        </p>
        <h3>Select the file you want to extract:  </h3>
    <form method="post" action={{ url_for('seven') }} enctype="multipart/form-data">
        <p><input type="file" name="input_file" /></p>
        <p><input type="submit" value="Process the file" /></p>
        <p><a href="/">Back</a></p>
    </form>
</section>
{% endblock %}